<!DOCTYPE html>
<html>
  <head>

    <script src="../static/js/script.js"></script>
    <script src="../static/js/materialize.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/materialize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title></title>

  </head>
  <body>
    <div class="topnav" id="myTopnav">
      <a href="{% url 'index' %}" style="float:left"><img src="img/Logo_transparentWhite.png" height="40px" width="53px"></a>
    </div>
<br>
<br><br><br>
    <form method="post">
  <div class="imgcontainer">
    <img src="Logo_text_transparentWhite" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>
  <div class="container signin">
    <p>Need an account? <a href="{% url 'register' %}">Create One</a>.</p>
  </div>
</form>

  </body>
</html>
