{% load static %}<!DOCTYPE html>
<html>
  <head>
    <script src="../../static/js/script.js"></script>
    <script src="../../materialize.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../materialize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block stylesheet %} {% endblock %}
  </head>
  <body>
    <div class="topnav" id="myTopnav">
      <a><span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span></a>
      <a href="{% url 'index' %}" style="float:left"><img src="../../media/img/Logo_transparentWhite.png" height="40px" width="53px"></a>
      <a href="javascript:void(0);" class="icon"onclick="nav()"></a>
    </div>

    <div id="mySidenav" class="sidenav">
      <a href="{% url 'profile' %}"><img src="{{ user.profile.profile_pic.url }}" alt"avatar" class="avatar"></a>
      <p>{{request.user.username}}</p>
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="{% url 'index' %}">My&nbsp;Images</a>
      <a href="{% url 'sharedWithMe' %}">Shared&nbsp;With&nbsp;Me</a>
      <a href="{% url 'post-create' %}">Upload&nbsp;Photo</a>
      <a href="{% url 'profile' %}">My&nbsp;Profile</a>
      <a href="{% url 'friends' %}">My&nbsp;Friends</a>
      <a href="{% url 'logout' %}">Logout</a>
    </div><br><br><br><br><br><br><br><br>
    <div id="main">
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2">{{ object.created_by }}</a><br>
            <small class="text-muted ">Created: {{ object.created_at }}</small>
          </div>
          <!-- printing differnt instances of the post object -->
          <h2 class="article-title">Title: {{ object.title }}</h2>
          <p class="article-content">Caption: {{ object.caption }}</p>
          <div class="column">
            <img src="{{object.photo.url}}" alt="">
          </div>
      </article>
    </div>
  </body>
</html>