<!DOCTYPE html>
<html>
  <head>
  
    <script src="script.js"></script>
    <script src="materialize.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="materialize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title></title>
    
  </head>
  <body>
    <div class="topnav" id="myTopnav">
      <a><span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span></a> 
      <img src="img/Logo_transparentWhite.png" height="40px" width="53px">
      <a href="javascript:void(0);" class="icon"onclick="nav()"></a>
    </div>
    
    <div id="mySidenav" class="sidenav">
      <a href="AccountSettings.html"><img src="img/ProfilePics/_DSC0022.jpg" alt"avatar" class="avatar"></a>
      <a><p>Bio</p></a>
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="index.html">My&nbsp;Images</a> 
      <a href="SharedWithMe.html">Shared&nbsp;With&nbsp;Me</a> 
      <a href="AccountSettings.html">Account&nbsp;Settings</a>
      <a href="#">Logout</a>
    </div>
    
    <!-- Header -->
    <div id="main">
    <div class="header">
      <h1>Shared With Me</h1>
    </div>

    <!-- Photo Grid -->
    <div class="row"> 
      <div class="column">
        <img src="img/testImages/DSC03715.jpg" style="width:100%">
        <img src="img/testImages/new1.jpg" style="width:100%">
        <img src="img/testImages/new2.jpg" style="width:100%">
        <img src="img/testImages/new3.jpg" style="width:100%">
        <img src="img/testImages/new4.jpg" style="width:100%">
        <img src="img/testImages/new5.jpg" style="width:100%">
        <img src="img/testImages/new6.jpg" style="width:100%">
      </div>
      <div class="column">
        <img src="img/testImages/new7.jpg" style="width:100%">
        <img src="img/testImages/new8.jpg" style="width:100%">
        <img src="img/testImages/new9.jpg" style="width:100%">
        <img src="img/testImages/new10.jpg" style="width:100%">
        <img src="img/testImages/new11.jpg" style="width:100%">
        <img src="img/testImages/IMG_5840.jpg" style="width:100%">
      </div>
      <div class="column">
        <img src="img/testImages/DSC00249.jpg" style="width:100%">
        <img src="img/testImages/DSC00470.jpg" style="width:100%">
        <img src="img/testImages/DSC00489.jpg" style="width:100%">
        <img src="img/testImages/DSC00492.jpg" style="width:100%">
        <img src="img/testImages/DSC00512.jpg" style="width:100%">
        <img src="img/testImages/DSC00519.jpg" style="width:100%">
        <img src="img/testImages/DSC00521.jpg" style="width:100%">
      </div>
      <div class="column">
        <img src="img/testImages/DSC00531.jpg" style="width:100%">
        <img src="img/testImages/DSC00535.jpg" style="width:100%">
        <img src="img/testImages/DSC00540.jpg" style="width:100%">
        <img src="img/testImages/DSC00550.jpg" style="width:100%">
        <img src="img/testImages/DSC03687.jpg" style="width:100%">
        <img src="img/testImages/DSC03689.jpg" style="width:100%">
      </div>  
    </div>
    </div>
    
  </body>
</html>